/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ececec;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the SignIn and SignUp alerts background. */
#signin-page .alert-light,
#signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--bs-gray-200);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.viewbill-container {
  /* background-color: papayawhip; */
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  /* box-sizing: inherit; */
  /* margin: 0 !important; */
  /* flex-basis: content; */
}
.viewbill-container h2 {
  color: rebeccapurple;
}

.viewbill-row {
  display: flex;
  flex-wrap: wrap !important;
  justify-content: space-between;
  align-items: center;
}
.viewbill-breadcrumb {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  font-size: 1.2rem;
}
.viewbill-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* font-size: 1.2rem; */
  flex-wrap: wrap;
}
.viewbill-font {
  font-size: 1.3rem;
  /* width: 100%; */
  text-align: center;
}
.viewbill-font p {
  margin: 0;
}
.description-font {
  font-size: 1rem !important;
  margin: 0;
}
.viewbill-div span:first-of-type {
  color: dodgerblue;
  border-bottom: 2px solid blue;
}

/* .flex2 {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
} */
.flexcenter {
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative;
  width: 100% !important;
}

.divcolor {
  color: rebeccapurple;
  border-bottom: 2px solid purple;
}
.viewbill-accordion {
  width: 100%;
}

.viewbill-accbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.viewbill-acchead {
  width: 100%;
  /* text-align: center; */
}

.acc-header {
  width: 100%;
  border-bottom: 0 !important;
}
